#all{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #2c2c2c;
}
#title
{
    font-family: Italianno;
    font-size: 50px;
    color: azure;
}
#accordian{
    width: 700px;
    max-width: 700px;
    display: block;   
}
.card{
    box-shadow: 0px 0px 20px #d4d4d4;
    margin-bottom: 25px;
}
.card-tit{
    color: aliceblue;
    font-family: Roboto;
    padding: 5px;
    position: relative;
    box-shadow: 0px 0px 10px beige;
}
.card-body{
    color: white;
    padding: 15px;
}
.card-tit button{
    cursor: pointer;
    background-color: chartreuse;
    color: #83a628;
    font-size: 20px;
    position: absolute;   
    left:-20px;
    top: 20px;    
    border-color: #00CC00;
	border-radius: 4px;
}
.card-tit span{
	left: 80px;;
	font-size: 18px;
	font-weight: bold;

}