.div1{
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.header{
	width: 100%;
	height: 40px;
}
.left
{
	width: 30%;
	height: 100%;
	text-align: left;
	float: left;
}
.right
{
	width: 70%;
	height: 100%;
	text-align: right;
	float: right;
	font-weight: bold;
	font-size: 15px;
}
.right ul li{
	display: inline-block;
	padding: 0px 10px;
}
.left p{
	font-weight: bold;
	font-size: 20px;
	padding: 0px;
	margin: 10px;
}
.clear{
	clear: both;
}
.tieude	{
	width: calc(100% - 120px);
	background-color: #F8F9FA;
	height: 150px;
	padding: 15px 0px 15px 120px;
}
.tieude  span{
	font-weight: bold;
	font-size: 30px;
}
.back_ground{

}
.info
{
	position: absolute;
	bottom: 20px;
	left: 30px;
}
.infotitle{
	color: white;
	margin: bottom: 10px;
	font-size: 20px;
	font-weight: 500;
	max-width: 350px;
}
.banner_inside
{
	color: #787878;
}
.content{
	width: calc(100% - 200px);
	height: auto;
	padding: 10px 100px ;	
}
.top
{
	width:100%;
	height: auto;

}
.top div{
	display: block;
}
.anh1
{
	width: calc(33.3333% - 20px);
	float: left;
	padding: 20px 10px;
}
.dan{
	width: 70px;
	background-color: #A8A8A8;
	border-radius:5px;
	padding: 2px;
	margin: 10px 10px 10px 0px;
	float: left;
	text-align: center;
	color: white;
}
.danxanh{
	width: 70px;
	background-color: #00FF7F;
	border-radius: 5px;
	padding: 2px;
	margin: 10px 10px 10px 0px;
	float: left;
	text-align: center;
	color: white;
}
.danvang{
	width: 80px;
	background-color: #FFCC00;
	border-radius: 5px;
	padding: 2px;
	margin: 10px 10px 10px 0px;
	float: left;
	text-align: center;
	color: white;
}
.dando{
	width: 70px;
	background-color:red;
	border-radius: 5px;
	padding: 2px;
	margin: 10px 10px 10px 0px;
	float: left;
	text-align: center;
	color: white;
}
.tieude2 p{
	margin: 10px 10px 10px 0px;

}
.tieude2 span{
	font-size: 25px;
	font-weight: bold;
}
.tieude2 table{
	padding: 5px;
}
.chu p{
	margin: 10px 10px 10px 0px;
	color: #6495ED;
}
.footer {
	width: 100%;
	height: 300px;
	background-color: black;
	color: #D3D3D3;
}
.cot1{
	width: 25%;
	padding: 40px 20px 20px 120px;
	float: left;
}
.cot1 span{
	font-weight: bold;
	font-size: 20px;
}
.cot2{
	width: 10%;
	float: left;
	padding: 40px 0px 20px 50px;
}
.cot2_1{
	width: 10%;
	float: left;
	padding: 40px 0px 20px 20px;
	}
.cot3{
	width: 20%;
	float: left;
	padding: 40px 10px 20px 50px;
}
.connect{
	font-size: 20px;
	font-weight: Bold;
	padding-left:55px ;

}
.socials-share{
	padding: 0px 10px 20px 10px;
}
.socials-share ul li{
	display: inline-block;
	padding: 0px 10px;
}
.page{
	width: 100%;
	text-align: center;
	clear: both;
}
.page p{
	text-align: center;
	display: inline-block;
}
.number1{
	background-color: white;
	color: black;
	display: inline-block;
}
.number{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background-color: #0c66cc;
	clear: both;
	color: white;
	display: inline-block;
	text-align: center;
}
.love{
	clear: both;
	text-align: center;
	padding-top: 50px;
}
.fa-color{
	color: red;
}
input
{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
}
input[type="text"]
{
	background-color: #fff;
	width: 340px;
	height: 40px;
	outline: none;
	padding: 0 25px;
}
input[type="submit"]
{
	width: 150px;
	color: white;
	position: relative;
	left: -9px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #3089fc;
}

