.div1{
	display: flex;
	flex-direction: column;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left
{
	font-size: 20px;
	font-weight: 600;
}
.right ul li
{
	display: inline-block;
	list-style: none;
	gap: 15px;
	font-weight: 600;
	font-size: 15px;

}
.banner_tren {
	background-color: #f8f9fa;
	padding: 35px 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 250fr);
	gap: 20px;
}
.left_up{
	background-size: cover;
	position: relative;
	background-image: linear-gradient(to bottom, rgba(245, 244, 245, 0.2), rgba(54, 54, 54, 0.8)), url(IMG2/U5/anh_3.webp);
	border-radius: 10px;
}
.right_up{
	background-size: cover;
	position: relative;
	background-image: linear-gradient(to bottom, rgba(245, 244, 245, 0.2), rgba(54, 54, 54, 0.8)), url(IMG2/U5/anh_1.webp);
	border-radius: 10px;
	
}
.middle{
	background-size: cover;
	position: relative;
	grid-column: 2/ span 1;
	grid-row: 1/span 2;
	background-image: linear-gradient(to bottom, rgba(245, 244, 245, 0.2), rgba(54, 54, 54, 0.8)), url(IMG2/U5/anh-6.webp);
	border-radius: 10px;
}
.left_bottom{
	background-size: cover;
	position: relative;
	background-image: linear-gradient(to bottom, rgba(245, 244, 245, 0.2), rgba(54, 54, 54, 0.8)), url(IMG2/U5/anh_4.webp);
	border-radius: 10px;
}
.right_bottom{
	background-size: cover;
	position: relative;
	border-radius: 10px;

}
.info
{
	position: absolute;
	bottom: 20px;
	left: 30px;
}
.infotitle{
	color: white;
	margin: bottom: 10px;
	font-size: 20px;
	font-weight: 500;
	max-width: 350px;
}
.banner_inside
{
	color:lightgrey;
}
.content{
	display: flex;
	flex-direction: column;
	padding: 20px 60px 20px 60px;	
}
.all_content
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.IMG
{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}
.author{
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 5px;
}
.tag{
	display: flex;
}
.grey{
	width: 70px;
	background-color: #A8A8A8;
	border-radius:5px;
	padding: 2px;
	display: flex;
	justify-content: center;
	color: white;
}
.green{
	width: 70px;
	background-color: #00FF7F;
	border-radius: 5px;
	padding: 2px;
	display: flex;
	justify-content: center;
	color: white;
}
.orange{
	width: 90px;
	background-color: #f8a539;
	border-radius: 5px;
	padding: 2px;
	display: flex;
	justify-content: center;
	color: white;
}
.red{
	width: 70px;
	background-color:red;
	border-radius: 5px;	
	display: flex;
	padding: 2px;
	justify-content: center;
	color: white;
}
.content_inside{
	padding: 10px;
}
.chu {
	margin-top: 10px;
	color: #6495ED;
}
.banner_duoi
{
	background-color: #f8f9fa;
    padding: 35px 60px;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    gap: 20px;
}
.trai_tren{
	grid-column: 1/ span 2 ;	
	position: relative;
	background-position: center;
    background-size: cover;
	border-radius: 10px;
	background-image:linear-gradient(to bottom, rgba(245, 244, 245, 0.2), rgba(54, 54, 54, 0.8)),url(IMG2/U5/anh_3.webp)
}
.trai_duoi1{
	background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    background-image:linear-gradient(to bottom, rgba(245, 244, 245, 0.2), rgba(54, 54, 54, 0.8)),url(IMG2/U5/anh_4.webp)
}
.trai_duoi2{
	background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    background-image:linear-gradient(to bottom, rgba(245, 244, 245, 0.2), rgba(54, 54, 54, 0.8)),url(IMG2/U5/anh_1.webp)
}
.phai{
	grid-column: 3/ span 1;
    grid-row: 1/ span 2;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    background-image:linear-gradient(to bottom, rgba(245, 244, 245, 0.2), rgba(54, 54, 54, 0.8)),url(IMG2/U5/anh_2.webp)
}
.info_top{
	top: 10px;
	left: 10px; 
	position: absolute;
}
.info_bottom{
	position: absolute;
	color: white;
    margin-bottom: 15px;
    font-size: 15px;
   	bottom: 0px;
   	left: 20px;
}
.info_bottom span{
font-weight: bold;
font-size: 20px;
}
.info_bottom p{
color: lightgrey;
	}
.footer {
	display: flex;
	padding: 20px;
	flex-direction: column;
	background-color: black;
	color: #D3D3D3;
}
.menu{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 50px;
    margin-bottom: 50px;
}
.cot1 span{
	font-weight: bold;
	font-size: 20px;
}
.cot2{
	display: flex;
	gap: 15px;
	justify-content: center;
}
.cot2 > ul{
	list-style: none;
}
.cot2 li{
	margin-bottom: 15px;
}
.connect{
	font-size: 20px;
	font-weight: Bold;
	padding-left:55px ;

}
.socials-share{
	padding: 0px 10px 20px 10px;
}
.socials-share ul li{
	display: inline-block;
	list-style: none;	
	padding: 0px 10px;
}
.page{
	display: flex;
    justify-content: center;
    gap: 5px;
    margin-top:10px ;
}
.number1{
	width: 30px;
	height: 30px;
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.number{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #0c66cc;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.subcriber
{
display: flex;
flex-direction: column;
text-align: center;
padding: 25px;
}
.love{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.fa-color{
	color: red;
}
.subcriber span
{
font-size:20px ;
font-weight: Bold;
}
input
{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
}
input[type="text"]
{
	background-color: #fff;
	width: 340px;
	height: 40px;
	outline: none;
	padding: 0 25px;
}
input[type="submit"]
{
	width: 150px;
	color: white;
	position: relative;
	left: -9px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #3089fc;
}

